.copyrights
    text-align: center
    left: 50%
    bottom: 20px
    min-width: 250px
    position: absolute
    transform: translateX(-50%)
    @include mq(xs)
        width: 100%
        position: fixed
        padding-bottom: 15px

    >span
        padding: 5px 10px
        border-radius: 3px
        display: inline-block
        background-color: rgba(255,255,255,.5)
